<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <ul>
    <% for(let i=0; i < result.length; i++) { %>
      <li>
        <%= result(i).name %>
      </li>
      <% } %>
  </ul>
  <form action="save" method="post">
    <p>
      <label>Nome:
        <input type="text" name="name" />
      </label>
    </p>
    <p>
      <label>Idade:
        <input type="number" name="age" />
      </label>
    </p>
    <p>
      <input type="submit" value="Salvar" />
    </p>
  </form>
</body>

</html>